/nbproject/private/
/public/house_images/profil_cestica_varazdinska_ulica_25.png
/public/house_images/profil_cestica_varazdinska_ulica_21.png
/public/house_images/profil_cestica_ulica_ljudevita_gaja_26.png
/public/house_images/profil1513602408.jpg
/public/house_images/profil/1513601784.png
/public/house_images/gnd_plans/gnd_radovec_ulica_antuna_mihanovica_23a.png
/public/house_images/gnd_plans/gnd_krizovljan_radovecki_antuna_mihanovica_7.png
/public/house_images/profil1513602318.jpg
/public/house_images/profil1513601784.png
/public/house_images/profil/profil_radovec_ulica_antuna_mihanovica_23a.png
/public/house_images/profil/profil_krizovljan_radovecki_antuna_mihanovica_7.png
/public/house_images/profil/profil_krizovljan_radovecki_antuna_mihanovica_6.png
/public/house_images/profil/profil_krizovljan_radovecki_antuna_mihanovica_5.png
/public/house_images/profil/profil_krizovljan_radovecki_antuna_mihanovica_3.png
/public/house_images/profil/profil_krizovljan_radovecki_antuna_mihanovica_15.png
public/house_images/profil/profil_krizovljan_radovecki_antuna_mihanovica_13.png
/public/house_images/profil/profil_krizovljan_radovecki_antuna_mihanovica_11.png
/public/house_images/profil/profil_krizovljan_radovecki_antuna_mihanovica_1.png
/public/house_images/profil/profil_cestica_varazdinska_ulica_25.png
/public/house_images/profil/profil_cestica_varazdinska_ulica_21.png
/public/house_images/profil/profil_cestica_ulica_ljudevita_gaja_26.png
/public/house_images/profil/1513602408.jpg
/public/house_images/profil/1513602318.jpg
/public/house_images/gnd_plans/gnd_krizovljan_radovecki_antuna_mihanovica_6.png
/public/house_images/gnd_plans/gnd_krizovljan_radovecki_antuna_mihanovica_5.png
/public/house_images/gnd_plans/gnd_krizovljan_radovecki_antuna_mihanovica_3.png
/public/house_images/gnd_plans/gnd_krizovljan_radovecki_antuna_mihanovica_15.png
/public/house_images/gnd_plans/gnd_krizovljan_radovecki_antuna_mihanovica_13.png
/public/house_images/gnd_plans/gnd_krizovljan_radovecki_antuna_mihanovica_11.png
/public/house_images/gnd_plans/gnd_krizovljan_radovecki_antuna_mihanovica_1.png
/public/house_images/gnd_plans/gnd_cestica_varazdinska_ulica_25.png
/public/house_images/gnd_plans/gnd_cestica_varazdinska_ulica_21.png
/public/house_images/gnd_plans/gnd_cestica_ulica_ljudevita_gaja_26.png
/public/house_images/gnd_plans/gnd_4.png
/public/house_images/gnd_plans/gnd_3.png
/public/house_images/gnd_plans/gnd_2.png
/public/house_images/gnd_plans/gnd_1.png

/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env


# Created by https://www.gitignore.io/api/angular,laravel,phpstorm

### Angular ###
## Angular ##
# compiled output
/dist
/tmp
/app/**/*.js
/app/**/*.js.map

# dependencies
/node_modules
/bower_components

# IDEs and editors
/.idea

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store

### Laravel ###
/vendor
node_modules/

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

### PhpStorm ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# CMake
cmake-build-debug/

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Ruby plugin and RubyMine
/.rakeTasks

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

### PhpStorm Patch ###
# Comment Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# modules.xml
# .idea/misc.xml
# *.ipr

# Sonarlint plugin
.idea/sonarlint


# End of https://www.gitignore.io/api/angular,laravel,phpstorm